<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>leqianbao</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.lc.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pt/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EnCodingFilter</filter-name>
    <filter-class>cn.lc.filter.EnCodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnCodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ConfirmReceiptServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.ConfirmReceiptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsOrderServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GoodsOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrderListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GetOrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyPwdServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.ModifyPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RealNameServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.RealNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BandingBankServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.BandingBankServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnBandingBankServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.UnBandingBankServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCashedServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GetCashedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageSerlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.MessageSerlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FinancialServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.FinancialServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseFinanceServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.PurchaseFinanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BankListSerlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.BankListSerlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BalanceStatisticServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.BalanceStatisticServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoQueryServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.UserInfoQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FinanceListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.FinanceListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PutinListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.PutinListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetoutListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GetoutListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.FeedBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchCashServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.FetchCashServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddressManagerServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.AddressManagerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PayIntegralServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.PayIntegralServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetAddressListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GetAddressListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetIntegralListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.GetIntegralListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RechargeIntegralServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.RechargeIntegralServlet</servlet-class>
  </servlet>
  
  
  
  <servlet>
    <servlet-name>FetchCashListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.FetchCashListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommodityListServlet</servlet-name>
    <servlet-class>cn.lc.app.servlet.CommodityListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCodeServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.GetCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DoLogoutServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoPutinMoneyServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoPutinMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoMessageServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoManagerServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoUserServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoFinanceProductServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoFinanceProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoFetchCashServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoFetchCashServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCommodityServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoCommodityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCommodityDetailServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoCommodityDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoFileUploadServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoUserOrderServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoUserOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoUserOrderDetailServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoUserOrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoIntegralListServlet</servlet-name>
    <servlet-class>cn.lc.pt.servlet.DoIntegralListServlet</servlet-class>
  </servlet>
  
  
  
  
  
  
   <servlet-mapping>
    <servlet-name>GoodsOrderServlet</servlet-name>
    <url-pattern>/app/goodsorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderListServlet</servlet-name>
    <url-pattern>/app/getorderlist</url-pattern>
  </servlet-mapping>  
    <servlet-mapping>
    <servlet-name>ConfirmReceiptServlet</servlet-name>
    <url-pattern>/app/confirmreceipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/app/userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/app/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/app/verifycode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPwdServlet</servlet-name>
    <url-pattern>/app/modifypwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RealNameServlet</servlet-name>
    <url-pattern>/app/realname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BandingBankServlet</servlet-name>
    <url-pattern>/app/bandingbank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnBandingBankServlet</servlet-name>
    <url-pattern>/app/unbandingbank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCashedServlet</servlet-name>
    <url-pattern>/app/getcashed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSerlet</servlet-name>
    <url-pattern>/app/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinancialServlet</servlet-name>
    <url-pattern>/app/financial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseFinanceServlet</servlet-name>
    <url-pattern>/app/purchasefinance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BankListSerlet</servlet-name>
    <url-pattern>/app/banklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BalanceStatisticServlet</servlet-name>
    <url-pattern>/app/balancestatistic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoQueryServlet</servlet-name>
    <url-pattern>/app/userinfoquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinanceListServlet</servlet-name>
    <url-pattern>/app/financelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PutinListServlet</servlet-name>
    <url-pattern>/app/putinlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetoutListServlet</servlet-name>
    <url-pattern>/app/getoutlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/app/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchCashServlet</servlet-name>
    <url-pattern>/app/fetchcash</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchCashListServlet</servlet-name>
    <url-pattern>/app/fetchcashlist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddressManagerServlet</servlet-name>
    <url-pattern>/app/managerAddress</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetAddressListServlet</servlet-name>
    <url-pattern>/app/getAddressList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PayIntegralServlet</servlet-name>
    <url-pattern>/app/payIntegral</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetIntegralListServlet</servlet-name>
    <url-pattern>/app/getIntegralList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RechargeIntegralServlet</servlet-name>
    <url-pattern>/app/rechargeIntegral</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>CommodityListServlet</servlet-name>
    <url-pattern>/app/commodityListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCodeServlet</servlet-name>
    <url-pattern>/getCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoLogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoPutinMoneyServlet</servlet-name>
    <url-pattern>/pt/doPutinMoney</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoMessageServlet</servlet-name>
    <url-pattern>/pt/doMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoManagerServlet</servlet-name>
    <url-pattern>/pt/doManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUserServlet</servlet-name>
    <url-pattern>/pt/doUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFinanceProductServlet</servlet-name>
    <url-pattern>/pt/doFinanceProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFetchCashServlet</servlet-name>
    <url-pattern>/pt/doFetchCash</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoCommodityServlet</servlet-name>
    <url-pattern>/pt/doCommodity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoCommodityDetailServlet</servlet-name>
    <url-pattern>/pt/doCommodityDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFileUploadServlet</servlet-name>
    <url-pattern>/pt/doFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUserOrderServlet</servlet-name>
    <url-pattern>/pt/doUserOrder</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>DoUserOrderDetailServlet</servlet-name>
    <url-pattern>/pt/doUserOrderDetail</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>DoIntegralListServlet</servlet-name>
    <url-pattern>/pt/DoIntegralList</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>